<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.myapp.mapper.BoardMapper">

<select id="getBoardList" resultType="com.mvc.myapp.domain.BoardVO">
<![CDATA[

select * from tbl_board7 where boardNum > 0

]]>

</select>

<sql id="search">
		<if test="type != null">
			<if test="type == 'T'.toString()">
				and boardTitle like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'C'.toString()">
				and boardContent like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'W'.toString()">
				and boardWriter like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'TC'.toString()">
				and ( boardTitle like CONCAT('%', #{keyword}, '%') OR boardContent like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="type == 'CW'.toString()">
				and ( boardContent like CONCAT('%', #{keyword}, '%') OR boardWriter like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="type == 'TCW'.toString()">
				and ( boardTitle like CONCAT('%', #{keyword}, '%')
				OR
				boardContent like CONCAT('%', #{keyword}, '%')
				OR
				boardWriter like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>


<select id="getBoardListWithPaging" resultType="com.mvc.myapp.domain.BoardVO"> 
		
		<![CDATA[  
  select * 
  from tbl_board7 
  where boardNum > 0 
]]>

		<include refid="search"></include>
  
 
  order by boardNum desc
  limit  #{startBoardNum}   , #{amountPerPage}

		
	 
		
</select>





<insert id="createBoard">
	
	
	insert into tbl_board7 (boardNum,boardTitle,boardContent,boardWriter)
	values (#{boardNum}, #{boardTitle}, #{boardContent}, #{boardWriter})

</insert>

<select id="readBoard" resultType="com.mvc.myapp.domain.BoardVO">

select * from tbl_board7 where boardNum = #{boardNum}

</select>


<update id="updateBoard">
	update tbl_board7 set boardTitle=#{boardTitle},
	boardContent=#{boardContent}, boardWriter=#{boardWriter}
	
	where boardNum=#{boardNum}

</update>

<delete id="deleteBoard">

	delete from tbl_board7 where boardNum=#{boardNum}

</delete>


<select id="getTotalCount" resultType="int">
	select count(*) from tbl_board7 where boardNum > 0
</select>


</mapper>