<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.myapp.mapper.ReplyMapper">	
	
	<insert id="createReply">
		
		insert into tbl_reply7 ( boardNum, reply, replyer)
		values  (  #{boardNum}, #{reply}, #{replyer})
	
	</insert>
	
	<select id="readReply" resultType="com.mvc.myapp.domain.ReplyVO">
	
		select * from tbl_reply7 where rno = #{rno}
	
	</select>
	
	
	<update id="updateReply">
	
		update tbl_reply7 set reply = #{reply} where rno=#{rno}
	
	</update>
	
	
	<delete id="deleteReply">
		
		delete from tbl_reply7 where rno=#{rno}
		
	</delete>
	
	<select id="getReplyList" resultType="com.mvc.myapp.domain.ReplyVO">
		 

 
 select * from tbl_reply7
    where boardNum =  #{boardNum}
   
   


	</select>


	<select id="getCountByboardNum" resultType="int">
<![CDATA[
select count(rno) from tbl_reply7 where boardNum = #{boardNum}
]]>
	</select>

	<update id="updateReplyCnt">
		update tbl_board7 set replycnt = replycnt + #{amountPerPage} where boardNum = #{boardNum}
	</update>

	
	
</mapper>